{% extends "layout.html"%}

{% block title %} Tracker-{{ exercise_name }} {% endblock %}




{% block main %}
<h1 style="text-align:center;color:#8ade68;"> <b>Tracking: {{ exercise_name }} </b> </h1>

<!-- Render the Bokeh plot -->
<div style="float:left;"><h3 style="text-align:center;color:black;"><em>Reps Graph</em></h3>
{{ div1 | safe }}
{{ script1 | safe }}
</div>
<div style="float:right;"><h3 style="text-align:center;color:black;"><em>Weight Graph</em></h3>
    {{ div2 | safe }}
    {{ script2 | safe }}
</div>
{% endblock %}